@page "/life"

<h3>Life</h3>
<table>
    <thead>
        <tr>
            <th>랭킹</th>
            <th>이름</th>
            <th>이미지</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>김혜련</td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>김민찬</td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td>김영랑</td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>김미가</td>
            <td></td>
        </tr>
    </tbody>
</table>
@code {

}
